
@{
    ViewBag.Title = "Đào tạo doanh nghiệp";
}
<div class="container-fluid" style="padding:0px;">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators" style="text-align:right;">
            <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
            <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
            <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
            <li data-target="#carousel-example-generic" data-slide-to="3" class="active"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item">
                <img src="~/Content/Template/Slider/slide1.png" class="img-responsive" style="width:100%;">
                <div class="carousel-caption caption">
                    <h3>GIẢI PHÁP ĐÀO TẠO</h3>
                    <h4>CHUYÊN NGHIỆP</h4>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Template/Slider/slide2.png" class="img-responsive" style="width:100%;">
                <div class="carousel-caption caption">
                    <h3>GIẢI PHÁP ĐÀO TẠO</h3>
                    <h4>CHUYÊN NGHIỆP</h4>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Template/Slider/slide1.png" class="img-responsive" style="width:100%;">
                <div class="carousel-caption caption">
                    <h3>GIẢI PHÁP ĐÀO TẠO</h3>
                    <h4>CHUYÊN NGHIỆP</h4>
                </div>
            </div>
            <div class="item active">
                <img src="~/Content/Template/Slider/slide2.png" class="img-responsive" style="width:100%;">
                <div class="carousel-caption caption">
                    <h3>GIẢI PHÁP ĐÀO TẠO</h3>
                    <h4>CHUYÊN NGHIỆP</h4>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid" style="margin:50px 0;">
    <div class="container">
        <div class="col-sm-6" style="padding:10px 20px;">
            <div class="row" style="margin: 10px 0;font-size: 25px;color: #f47a22;font-weight: 600;">
                <img src="~/Content/Template/Slider/icon.png" class="img-responsive" style="display:inline;">&nbsp;&nbsp;GIÁO TRÌNH THỰC TIỄN
            </div>
            <div class="row" style="color: #a4a2a2;font-size:16px;font-weight:normal;margin: 10px 0;">
                @ViewBag.text_giaotrinhthuctien
            </div>
            <div class="row" style="margin: 10px 0;font-size: 25px;color: #f47a22;font-weight: 600;">
                <img src="~/Content/Template/Slider/icon1.png" class="img-responsive" style="display:inline;">&nbsp;&nbsp;BÀI TẬP ỨNG DỤNG
            </div>
            <div class="row" style="color: #a4a2a2;font-size:16px;font-weight:normal;margin: 10px 0;">
                @ViewBag.text_baitapungdung
            </div>
            <div class="row" style="margin: 10px 0;font-size: 25px;color: #f47a22;font-weight: 600;">
                <img src="~/Content/Template/Slider/icon2.png" class="img-responsive" style="display:inline;">&nbsp;&nbsp;LINH HOẠT &amp; SÁNG TẠO
            </div>
            <div class="row" style="color: #a4a2a2;font-size:16px;font-weight:normal;margin: 10px 0;">
                @ViewBag.text_linhhoatsangtao
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row" style="color: #5a5a5c;font-size: 30px;font-weight: 600;margin:0;">CHƯƠNG TRÌNH</div>
            <div class="row" style="color: #363636;font-size: 45px;font-weight: 600;margin:0;line-height:60px;">ĐÀO TẠO DOANH NGIỆP</div>
            <div class="row" style="color: #a4a2a2;font-size: 16px;margin:0;line-height: 25px;">
                @ViewBag.text_chuongtrinhdaotaodoanhnghiep
            </div>
            <div class="row" style="margin:10px 0;">
                <center>
                    <a href="#" class="btn buttonorange" style="width:192px;">DOWNLOAD <br>CHƯƠNG TRÌNH</a>
                    <a href="/Lienhe" class="btn buttonorange">LIÊN HỆ <br>TƯ VẤN TRỰC TIẾP</a>
                </center>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="padding:0px;">
    <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators" style="text-align:right;">
            <li data-target="#carousel-example-generic1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic1" data-slide-to="1" class=""></li>
            <li data-target="#carousel-example-generic1" data-slide-to="2" class=""></li>
            <li data-target="#carousel-example-generic1" data-slide-to="3" class=""></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Content/Template/Slider/slide1.png" class="img-responsive" style="width:100%;">
                <div class="carousel-caption caption">
                    <h3>GIẢI PHÁP TƯ VẤN</h3>
                    <h4>HIỆU QUẢ &amp; TỐI ƯU</h4>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Template/Slider/slide2.png" class="img-responsive" style="width:100%;">
                <div class="carousel-caption caption">
                    <h3>GIẢI PHÁP TƯ VẤN</h3>
                    <h4>HIỆU QUẢ &amp; TỐI ƯU</h4>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Template/Slider/slide1.png" class="img-responsive" style="width:100%;">
                <div class="carousel-caption caption">
                    <h3>GIẢI PHÁP TƯ VẤN</h3>
                    <h4>HIỆU QUẢ &amp; TỐI ƯU</h4>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Template/Slider/slide2.png" class="img-responsive" style="width:100%;">
                <div class="carousel-caption caption">
                    <h3>GIẢI PHÁP TƯ VẤN</h3>
                    <h4>HIỆU QUẢ &amp; TỐI ƯU</h4>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid" style="margin:50px 0;">
    <div class="container">
        <div class="col-sm-6" style="padding:10px 20px;">
            <div class="row" style="margin: 10px 0;font-size: 25px;color: #f47a22;font-weight: 600;">
                <img src="~/Content/Template/Slider/icon.png" class="img-responsive" style="display:inline;">&nbsp;&nbsp;PHÂN TÍCH KHẢO SÁT
            </div>
            <div class="row" style="color: #a4a2a2;font-size:16px;font-weight:normal;margin: 10px 0;">
                @ViewBag.text_phantichkhaosat
            </div>
            <div class="row" style="margin: 10px 0;font-size: 25px;color: #f47a22;font-weight: 600;">
                <img src="~/Content/Template/Slider/icon1.png" class="img-responsive" style="display:inline;">&nbsp;&nbsp;TƯ VẤN GIẢI PHÁP
            </div>
            <div class="row" style="color: #a4a2a2;font-size:16px;font-weight:normal;margin: 10px 0;">
                        @ViewBag.text_tuvangiaiphap
             </div>
            <div class="row" style="margin: 10px 0;font-size: 25px;color: #f47a22;font-weight: 600;">
                <img src="~/Content/Template/Slider/icon2.png" class="img-responsive" style="display:inline;">&nbsp;&nbsp;ĐÁNH GIÁ KẾT QUẢ
            </div>
            <div class="row" style="color: #a4a2a2;font-size:16px;font-weight:normal;margin: 10px 0;">
                @ViewBag.text_danhgiaketqua
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row" style="color: #5a5a5c;font-size: 30px;font-weight: 600;margin:0;">CHƯƠNG TRÌNH</div>
            <div class="row" style="color: #363636;font-size: 45px;font-weight: 600;margin:0;line-height:60px;">TƯ VẤN DOANH NGIỆP</div>
            <div class="row" style="color: #a4a2a2;font-size: 16px;margin:0;line-height: 25px;">
                @ViewBag.text_chuongtrinhtuvandoanhnghiep
            </div>
            <div class="row" style="margin:10px 0;">
                <center>
                    <a href="#" class="btn buttonorange" style="width:192px;">DOWNLOAD <br>CHƯƠNG TRÌNH</a>
                    <a href="/Lienhe" class="btn buttonorange">LIÊN HỆ <br>TƯ VẤN TRỰC TIẾP</a>
                </center>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin:30px 0 80px;padding:0px;">
    	<div class="container">
    		<div class="row" style="margin:0;">
    			<div class="row" style="color: #5a5a5c;font-size: 30px;font-weight: 600;margin:0;">KHÁCH HÀNG DOANH NGHIỆP</div>
    			<div class="row" style="color: #363636;font-size: 45px;font-weight: 600;margin:0;line-height:60px;">TẠI MARWORLD</div>
    		</div>
    		<div class="row" style="margin:0;">
    			<center>
    				<img src="~/Content/Template/introduction.png" class="img-responsive" style="width:100%;padding: 0 60px;">
    			</center>
    		</div>
    	</div>
    </div>